@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "tailwindcss";

@font-face {
    font-family: 'Inter Variable';
    src: url('@fontsource-variable/inter/files/inter-latin-wght-normal.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
    font-size-adjust: 97.5%;
}

@theme inline {
    --font-sans: 'Inter Variable', sans-serif;
    --font-weight-normal: 380;
    --font-weight-medium: 480;
    --font-weight-semibold: 580;
    --font-weight-bold: 680;

    --letter-spacing-h1: -2.5px;
    --letter-spacing-h2: -0.7px;
    --letter-spacing-h3: -0.4px;
    --letter-spacing-text: -0.3px;

    --color-background: rgb(0, 0, 0);
    --color-foreground: rgb(225, 225, 225);
    --color-secondary: rgb(165, 165, 165);
    --color-muted: rgb(130, 130, 130);
    --color-accent: rgb(120, 105, 230);
    --color-accent-active: rgb(175, 162, 245);
    --color-destructive: rgb(242, 138, 140);
    --color-success: rgb(165, 230, 205);
    --color-warning: rgba(240, 215, 150);

    --color-border: rgba(28, 28, 28);
    --color-border-hover: rgba(255, 255, 255, 0.25);
    --color-border-active: rgba(255, 255, 255, 0.8);
    --color-popup: rgb(0, 0, 0, 0.4);

    --color-input: rgba(35, 35, 35);
    --color-input-hover: rgba(42, 42, 42);
    --color-input-active: rgba(255, 255, 255, 0.08);

    --color-card: rgba(14, 14, 14);
    --color-card-hover: rgba(255, 255, 255, 0.08);
    --color-card-active: rgba(255, 255, 255, 0.08);

    --background-image-accent-gradient: linear-gradient(to bottom, rgba(130, 115, 238, 0.94), rgba(114, 98, 224, 0.92));
    --background-image-accent-gradient-x: linear-gradient(to right, rgba(130, 115, 238, 0.94), rgba(114, 98, 224, 0.92));
    --background-image-destructive-gradient: linear-gradient(to bottom, rgba(220, 48, 58, 0.92), rgba(198, 36, 46, 0.91));
    --background-image-destructive-gradient-x: linear-gradient(to right, rgba(220, 48, 58, 0.92), rgba(198, 36, 46, 0.91));
    --background-image-dark-gradient: linear-gradient(to bottom, rgba(225, 255, 255, 0.075), rgba(255, 255, 255, 0.025));

    --text-md: 0.9375rem;

    --duration-snappy: 200ms;
    --ease-snappy: cubic-bezier(0, 0, 0.2, 1);

    --duration-popup: 300ms;
    --ease-popup: cubic-bezier(0.25, 1, 0.35, 1);
    --ease-popup-bouncy: cubic-bezier(0.16, 1, 0.3, 1.25);
}

@utility transition-snappy {
    transition-property: all;
    transition-duration: var(--duration-snappy, 150ms);
    transition-timing-function: var(--ease-snappy, cubic-bezier(0, 0, 0.2, 1));
}

@utility transition-popup {
    transition-property: all;
    transition-duration: var(--duration-popup, 250ms);
    transition-timing-function: var(--ease-popup-bouncy, cubic-bezier(0.25, 1, 0.35, 1));
}

@utility text-glow {
    text-shadow:
        0 0 40px rgba(170, 155, 255, 0.35),
        0 0 80px rgba(130, 115, 238, 0.25),
        0 0 120px rgba(120, 105, 230, 0.2),
        0 0 180px rgba(120, 105, 230, 0.15);
}


:root {
    --font-feature-settings: "cv02" 1, "cv03" 1, "cv04" 1, "cv11" 1, "calt" 1, "liga" 1;
}



@layer base {

    *,
    *::before,
    *::after {
        outline: none !important;
    }

    html {
        scrollbar-gutter: stable;
    }

    body {
        @apply font-sans antialiased bg-background text-foreground outline-none;
        font-weight: var(--font-weight-normal, 380);
        letter-spacing: var(--letter-spacing-text, -0.15px);
        background-color: rgb(10, 10, 10);
        position: relative;
        min-height: 100vh;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-feature-settings: var(--font-feature-settings);
    }

    body:has([data-slot="dialog-overlay"]) {
        overflow: hidden;
    }

    h1 {
        letter-spacing: var(--letter-spacing-h1);
    }

    h2 {
        letter-spacing: var(--letter-spacing-h2);
    }

    h3 {
        letter-spacing: var(--letter-spacing-h3);
    }

    p {
        letter-spacing: var(--letter-spacing-text);
    }

    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type="number"] {
        -moz-appearance: textfield;
        appearance: textfield;
    }
}


.react-colorful {
    overflow: visible !important;
    border-radius: 4px !important;
    border: none !important;
    box-shadow: none !important;
}

.react-colorful__saturation {
    border-radius: 4px 4px 0px 0px !important;
    border-bottom: none !important;
}

.react-colorful__hue {
    border-radius: 0 0 4px 4px !important;
    border-top: none !important;
}